@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body {
  background-color: rgb(101, 167, 206);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.animate__pulse,
.animate__bounceIn {
  --animate-duration: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-transform: uppercase;
  box-shadow: 0 0 10px black;
  width: 100%;
}

.piggy-bank {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  margin: 20px auto 10px;
  background-image: url(https://img.freepik.com/premium-vector/3d-piggy-bank-with-coin-isolated-white-background_257192-296.jpg?w=2000);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px black;
}

button {
  cursor: pointer;
  font-size: 32px;
  padding: 0px 25px !important;
  color: black;
  border: 3px solid black;
  box-shadow: 0 0 5px black;
}

.buttons {
  text-align: center;
}

.buttons button {
  margin-top: 10px;
  margin-left: 5px;
}

#plus,
#minus {
  background-color: white;
}

.buttons button:nth-child(4),
.buttons button:nth-child(5),
.buttons button:nth-child(6) {
  background-color: #85bb65;
  padding: 5px 10px;
}

.buttons button:last-child {
  background-color: rgb(207, 73, 73);
  color: white;
  border: 3px dotted #fad59b;
  box-shadow: 0 0 5px black;
}

#getMoney {
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  background-color: #65BB70;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  display: none;
  box-shadow: 0 0 10px black;
}

#output {
  border-radius: 0 10px 0 0;
  padding: 0 10px;
}

.stockBtn {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px black;
}

.greenBtn {
  background-color: black;
  color: lightgreen;
  box-shadow: 0 0 5px black;
}